
article {
  
  background: white;
  @include pad(10px);
  
  .article_header {    
    h3 {
      font-family: 'Vollkorn', serif;
      color: $medium_blue;
      font-size: 30px;
    
    }    
      
  }
  
  .author {}
  
  .article_content {
    
  }
  
  
  
  
}

