

.breadcrumb_nav {
  background: $breadCrumbContainerBg;  
  @include pad(5px);
  font-size: 14px;
  font-weight: 900;
  
  font-family: 'PT Sans Caption', sans-serif;
  .breadcrumb_link {
    @include pad(10px);
    a {
      color: $breadCrumbColor;
    }
  }
  .breadcrumb_link_last {
    @include pad(10px);
    color: $currentBreadCrumbColor;
  }
}
