
<!-- Breadcrumb -->
<div class="breadcrumb_nav">
	<span class="breadcrumb_link"><a href="#">Home</a></span>/
	<span class="breadcrumb_link"><a href="#">Link</a></span>/
	<span class="breadcrumb_link_last"><a href="#">Link</a></span>
	
</div>

<div class="left_column">
	<article>
		<h3 class="article_header">
			<span>
				<img src="http://placehold.it/30x30"/>
			</span>
			Some random header text
		</h3>	
		<h5 class="author">
			<span>by Stephen King</span><span>3/3/2013</span>
		</h5>
		
		<p class="article_content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim suscipit pretium. Aliquam vel est velit, sit amet hendrerit mauris. Vestibulum pharetra ipsum id magna feugiat fermentum. Proin risus eros, congue vel hendrerit commodo, dignissim at lacus. Nulla facilisi. Morbi porta ipsum ut orci sagittis vel gravida odio commodo. Aenean consectetur, eros quis venenatis semper, quam lectus varius erat, ac laoreet tellus metus aliquam ante. Vestibulum neque velit, venenatis quis ornare aliquet, lobortis ut turpis. Sed id augue vitae sapien rutrum fermentum. Sed varius urna sed tortor consectetur iaculis. Praesent ac suscipit erat. Aenean est odio, tristique a feugiat tristique, posuere quis ligula. Morbi a tellus non risus pretium molestie ac ut nulla. Nunc urna ligula, hendrerit non auctor in, mollis in leo. Curabitur et magna eget urna interdum dictum auctor non lorem. Proin faucibus, nisl eget tincidunt mattis, erat erat egestas lectus, nec scelerisque magna mi scelerisque mauris.
		</p>
		
		<hr/>
		
		<h3>Another Header</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit
		</p>
		
		<img src="http://placehold.it/350x120"/>
		
	</article>
	
	<div class="two_column_box">
		
	</div>
	
	
	
		


	<div class="comment_container">		
		<div class="user_container">
			<h4>Lorem ipsum dolor</h4> 
			<img src="http://placehold.it/100x120"/>		
		</div>
		<div class="comment_box">		
			<div class="comment_header">
				<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
			</div>
			<div class="comment_body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				
			</div>
			<div class="comment_footer">
				Footer Text
			</div>
		</div>			
		
	</div> <!-- end comment container -->



</div> <!-- end left column -->

<div class="right_column">
	<h3>This is the right column</h3>
</div>

