
.comment_container { 
  margin-top: 40px;  
  min-height: 200px;
  @include pad(10px);
  background: #AEEEEE;
  
  
  .user_container {
    border: 1px solid $medium_blue;
    @include span-columns(2 of 8);
    @include pad(5px);
    @include border-radius(10px);
  }
  .comment_box {
    @include span-columns(6 of 8);  
    @include box-shadow(0 0 5px 2px hsla(0, 0%, 0%, 0.65));  
    @include border-radius(10px);
    background: white;
    .comment_header {
      @include border-top-radius(10px);
      @include linear-gradient($medium_blue, $dark_blue);     
      
      h4 {
        color: white;
      }
      
    }
    .comment_body {
      @include pad(20px);
      
      
    }
    
  }
  
}


