
.two_column_box {  
  .box_header_container {    
    background: $boxHeaderBg;    
    overflow: auto;
    
    .old_client_header { 
      @include span-columns(4 of 8);       
      text-align: left;   
      h3 {
        color: white;
      } 
      
      
    }
    .new_client_header {   
      @include span-columns(4 of 8);      
      text-align: left;
      h3 {
        color: white;
      }
      
    }
  } // end box header container
  
  .box_subheader {    
    @include span-columns(8 of 8);
    @include pad(5px);
    text-align: center;
    @include linear-gradient($medium_blue, $dark_blue);
    color: white;
  }
  .box_left_column {
    line-height: 20px;
    @include span-columns(6);
  }
  .box_right_column {
    line-height: 20px;
    
  }
  
  
}// end two column box
