<!DOCTYPE html>
<html>
<head>
  <title>NeatTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
				<ul id="social_icons">
					<li>
						<img src="http://placehold.it/30x30"/>
					</li>
					<li>
						<img src="http://placehold.it/30x30"/>
					</li>
					<li>
						<img src="http://placehold.it/30x30"/>
					</li>
				</ul>
			</nav>
		</header>
		
		<div id="banner_ad">
			<img src="http://placehold.it/960x100"/>
		</div>
		
		
		<%= yield %>
	</div>

</body>
</html>
